<h1>Producto</h1>
<p>Detalles del producto.</p>

<section class="products">
    <% productos.forEach(function(producto) { %>
        <article>
            <h2>
                <%= producto.title %>
            </h2>
            <p>Precio: <%= producto.price %>
            </p>
        </article>
        <% }); %>
</section>